nav {
    background-color: rgb(68, 68, 255);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 15px;
}
h1 {
    color: darkblue;
    margin: 1rem;
}
img {
    width: 200px;
    height: auto;
    border: 3px solid blue;
    padding: 2px;box-shadow: 0 0 30px gray;
    margin: 1rem;
}
p {
    padding: 0;
}
main {
    max-width: 480px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 3px solid blue;
    padding: 1rem;
    background-color: rgb(255, 74, 74);
    color: #ffffff;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 3px dashed blue;
    text-align: center;
}